      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <table mat-table [dataSource]="dataSource" class="grinds_table mat-elevation-z8">
      
        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let grind"> {{grind.id}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let grind"> {{grind.grindType}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="pricePerHour">
          <th mat-header-cell *matHeaderCellDef> Price Per Hour </th>
          <td mat-cell *matCellDef="let grind"> {{grind.pricePerHour}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address </th>
          <td mat-cell *matCellDef="let grind"> {{grind.grindAddress}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

