/* Structure */
.grinds_table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 25%;
}

.mat-cell {
    text-align: left;
}
#search{
    display: inline-block;
}
h1{
    text-align: center;
}

#searchFields{
    background-color: black;
}