      <div id="searchFields">
      <mat-form-field>
        <input id = "typeSearch" matInput (keyup)="applyFilter($event.target.value, 'grindType')" placeholder="Search By Subject">
      </mat-form-field>
      <mat-form-field>
          <input id = "priceSearch" matInput (keyup)="applyFilter($event.target.value, 'pricePerHour')" placeholder="Search By Price">
        </mat-form-field>   
      <mat-form-field>
        <input id = "addressSearch" matInput (keyup)="applyFilter($event.target.value, 'county')" placeholder="Search By County">
      </mat-form-field>
     </div>   
     
      <table mat-table [dataSource]="dataSource" class="grinds_table mat-elevation-z8">

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Subject
          </th>
          <td mat-cell *matCellDef="let grind"> {{grind.grindType}} </td>
        </ng-container>

        <ng-container matColumnDef="pricePerHour">
          <th mat-header-cell *matHeaderCellDef> Price Per Hour 
          </th>
          <td mat-cell *matCellDef="let grind"> {{grind.pricePerHour}} </td>
        </ng-container>
          <ng-container matColumnDef="county">
              <th mat-header-cell *matHeaderCellDef> County
              </th>
              <td mat-cell *matCellDef="let grind"> {{grind.county}} </td>
            </ng-container>
        <ng-container matColumnDef="moreDetails">
          <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let grind; let i = index;">  
                <!-- Use this to get the index of the row to pass into showAll function -->
                <button *ngIf="isAuth()" mat-raised-button routerLink="/grinds-detail" (click)= "showAll(i)" > 
                 
                Show More Details -->
                  </button>
                <button *ngIf="!isAuth()" mat-raised-button routerLink="/login">
                   Log In to See More Details --> 
                  </button>
              </td>
    
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       
      </table>
      <router-outlet></router-outlet>

    

