/* Structure */
.grinds_table {
    width: 100%;
}

.mat-cell {
    text-align: left;
}

h1{
    text-align: center;
}

.header {
    padding-right: 10px;
}

.header > span {
    font-size: 20px;
    font-weight: bold;
}

.filter {
    display: block;
}