/* Structure */
.grinds_table {
    width: 100%;
}

.mat-cell {
    text-align: left;
}

h1{
    text-align: center;
}

.header {
    padding-right: 10px;
}

.header > span {
    font-size: 20px;
    font-weight: bold;
}

.filter {
    /* display: block; */
    max-width: 100px;
}

.dropdown-toggle{ 
    cursor: pointer; 
}

#login{ 
    cursor: pointer; 
    /* background-color: gray; */
    /* display: inline-block; */
}
#details{ 
    cursor: pointer; 
    /* background-color: gray; */
    /* display: inline-block; */
}
