<div class="container bg-grey">
 <mat-card class="my-card">
    <h3>Log In</h3>
  <mat-card-content>
     <form class="registration-form" [formGroup]="loginForm" (ngSubmit)="onLogin()" id="ngForm" #documentEditForm="ngForm">
      <mat-form-field class="full-width">
          <input matInput required  placeholder="Username" formControlName="username" [formControl]="uname" [(ngModel)]="uname.value">
          <button *ngIf ="uname.value" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="uname.value=''">
              <mat-icon>close</mat-icon>
            </button>
      </mat-form-field>
      <mat-form-field class="full-width">
          <input matInput required placeholder="Password"  type="password"[formControl]="pword" formControlName="password" [(ngModel)]="pword.value">
          <button *ngIf ="pword.value" type="button" mat-button  matSuffix mat-icon-button aria-label="Clear" (click)="pword.value=''">
              <mat-icon>close</mat-icon>
            </button>
      </mat-form-field>
     </form>
  </mat-card-content>

  <mat-card-actions>
      <button mat-raised-button form="ngForm" [disabled]="!documentEditForm.form.valid">Log In</button>
      <button mat-raised-button form="ngForm" (click) ="loginClearForm()">Clear</button>
  </mat-card-actions>
  {{message}}

  Don't have an account?
  <a class="dropdown-toggle" data-toggle="dropdown">Sign Up Here<span class="glyphicon glyphicon-user"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="/register">Register as a Student</a></li>
              <li><a routerLink="/register_tutor">Register as a Teacher</a></li>
            </ul>
</mat-card>
</div>