<div class="container">
  <div class="row">
    <div class="col-md-6">
      <br>
      <table class="table table-bordered table-striped">
          <thead>
        <tr>
          <th>Heading</th>
          <th>Details</th>
        </tr>
          </thead>
        <colgroup>
          <col class="col-md-2">
          <col class="col-md-8">
        </colgroup>
        <tbody>
          <tr>
            <td>Address</td>
            <td>Lorem ipsum dolor sit amet, mel habeo paulo corpora ei, in sea discere verterem probatus. Mea ei quot doming quidam, homero quidam suavitate eam ad.</td>
          </tr>
          <tr>
            <td>Teacher's Email</td>
            <td>Lorem ipsum dolor sit amet, mel habeo paulo corpora ei, in sea discere verterem probatus. Mea ei quot doming quidam, homero quidam suavitate eam ad.</td>
          </tr>
          <tr>
            <td>Teacher's Experience</td>
            <td>Lorem ipsum dolor sit amet, mel habeo paulo corpora ei, in sea discere verterem probatus. Mea ei quot doming quidam, homero quidam suavitate eam ad.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>