<br>
<br>
<br>
<div class="container bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo"></span>
      </div>
      <div class="col-sm-8">
        <h1><strong>Grinds-UI</strong></h1>
        <p>Grinds-UI Helps you fit effortlessly into your busy life. 
          Book sessions one by one – or regularly for however long you like – and pay as you go.  
          You also have the same tutor every week, whether you’re at school before footie, at Grandma’s house, or on holiday.</p>
      </div>
    </div>
  </div>
  <hr> 
  <div class="container bg-grey">
      <div class="row">
        <div class="col-sm-8">
          <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item active">
                  <h4>"Matt B was excellent. Connected with my son, was patient and thorough. I would recommend Grinds-UI. Pleasant to deal with and eager to help. Excellent service.
                      Just waiting for results now."<br>
                      <span>Michael Roe</span><br>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star checked"></span>
                      <span class="fa fa-star"></span></h4>
                  </div>
                  <div class="item">
                      <h4>"Grinds-UI genuinely helped us find:
                          A better tutor
                          At a better cost
                          And it is so convenient to use
                          Literally based on our experience I couldn't recommend it enough."<br>
                          <span>John Stamos</span><br>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span></h4>
                  </div>
                  <div class="item">
                      <h4>"Wayne was fantastic. Nathan enjoyed his sessions and learnt a lot. 
                        Wayne was flexible with the appointments and really encouraged Nathan. 
                        Will definitely recommend him to others. Good value for money, worth every penny."<br>
                          <span>Ariana Lopez</span><br>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span></h4>
                  </div>
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
        <div class="col-sm-4 text-center">
            <h1><strong>What our Users say</strong></h1>
        </div>
      </div>
    </div>
    <hr>   
    <div class="container bg-grey">
        <div class="row">
          <div class="col-sm-2">
                <button type="button" class="btn btn-default btn-block btn-lg" (click)="scrollTo('section1')" [ngClass]="{ 'current-section': currentSection === 'section1' }">What</button>
                <button type="button" class="btn btn-default btn-block btn-lg" (click)="scrollTo('section2')" [ngClass]="{ 'current-section': currentSection === 'section2' }">How</button>
                <button type="button" class="btn btn-default btn-block btn-lg" (click)="scrollTo('section3')" [ngClass]="{ 'current-section': currentSection === 'section3' }">Who</button>
                <button type="button" class="btn btn-default btn-block btn-lg" (click)="scrollTo('section4')" [ngClass]="{ 'current-section': currentSection === 'section4' }">Where</button>
              <br/>
          </div>
          <div class="col-sm-10 text-center">
              <div id="parentDiv" scrollSpy [spiedTags]="['DIV']" (sectionChange)="onSectionChange($event)" style="height:250px;overflow-y: scroll;">
                  <div id="section1">
                    <h4 style="margin:0">What It Does</h4><br>
                    <p>
                      Is an app that let's student get grinds from teachers.
                      It's a resource for students to find out the email.
                      addresses of tutors in a given geographical area. 
                      They can avail of several grinds with several subjects and several tutors.
                    </p>
                    <img src="https://www.clipartwiki.com/clipimg/detail/92-920924_student-teacher-learning-addition-classroom-teacher-and-students.png" class="img-thumbnail" alt="Teacher clip art" width="400" height="345">
                  </div>
                  <br>
                  <div id="section2">
                    <h4>How It Does What It Does</h4><br>
                    <p>  
                      Tutors are allowed to sign up to the app using the Sign in page.
                      They give thier email address, Teaching Experiences and current occupation
                      Tutors can then go on and add grinds they are willing to teach on the app.
                    </p>
                    <img src="http://nbdcc.ca/wp-content/uploads/2018/09/students.png" class="img-thumbnail" alt="Teacher art" width="400" height="345">
                   <p>
                        Students are also allowed register on the app obviously. 
                        Without students who do we expect to teach
                        Accounts can be created, edited and deleted. 
                    </p>
                  </div>
                  <br>
                  <div id="section3">
                    <h4>Who Its Targeted Towards</h4><br>
                    <p>
                      Grinds Ui is basically targeted towards students. Regardless of the age of the individual. 
                      Grinds can be booked <span class="glyphicon glyphicon-book"></span> by anyone willing to learn. 
                      Teachers are in charge of creating grinds. 
                      Grinds includes the time, type, price and location of sed grinds. 
                      It is anticipated that it would be used mostly by secondary school students in need of the extra help.                      
                      <img src="https://us.123rf.com/450wm/honoka123/honoka1231507/honoka123150700003/41741867-stock-vector-uniformed-school-boy-and-school-girl.jpg?ver=6" class="img-thumbnail" alt="Student art" width="400" height="300">
                    </p>
                  </div>
                  <br>
                  <div id="section4">
                    <h4>Where Will It be Available</h4><br>
                    <p>
                        It will be made available in Ireland at first with plans to expand to the rest of europe depending on the success of the application.
                        There will be a mobile application also available for apple, windows and android.

                    </p>
                  </div>
                </div>
          </div>
        </div>
      </div>
