<!-- Comments -->
<header>
<hr>
<nav class="navbar fixed-top navbar-expand-sm bg-light navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      Menu
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav bd-navbar-nav nav-fill w-100">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="grinds" routerLinkActive="active">Post a Grind</a>
        </li>
      </ul>
    </div>
    <div *ngIf="!isAuth()"class="login_register_menu-container"> <!--Log in Field in nav bar-->
      <button mat-raised-button routerLink="login" class='login_button'>Log In</button>
      <!-- <button mat-raised-button>Register</button> -->
      <button mat-raised-button [matMenuTriggerFor]="registerMenu" class='register_button'>Register</button>
      <mat-menu #registerMenu="matMenu">
        <button mat-menu-item routerLink="register">REGISTER AS A STUDENT</button>
        <button mat-menu-item routerLink="register_tutor">REGISTER AS A TUTOR</button>
      </mat-menu>
    </div>
    <div *ngIf="isAuth()"class="login_register_menu-container"> <!--Log in Field in nav bar-->
      <span class="profile_text" [matMenuTriggerFor]="profileMenu">Hello {{getUsername()}} <mat-icon class="profile_icon">person_outline</mat-icon></span>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="my-account">View Profile</button>
        <button mat-menu-item (click)="logOut()">Logout</button>
      </mat-menu>
    </div> 
  </nav>
</header>
<!--Router Outlet -->
<div class="container-fluid padding">
  <router-outlet></router-outlet>
</div>

<!-- Footer Section-->
<hr>
<footer class="container mt-4">
  <div class="row">
    <div class="col">
      <p class="text-center">Original design by The A team </p>
    </div>
  </div>
</footer>

