h1{
    text-align: center;
}

.login_register_menu-container .register_button{
    margin-left: 5px;
}

.profile_icon,
.profile_text {
    color: black;
    cursor: pointer;
}

.profile_text {
 margin-right: 10px;;
}
