<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>             
        </button>
        <a class="navbar-brand" routerLink="home">Grinds Tutorial</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="home" routerLinkActive="active">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" routerLink="about" routerLinkActive="active">About Us<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Sean</a></li>
              <li><a href="#">Caleb</a></li>
              <li><a href="#">Christian</a></li>
            </ul>
          </li>
          <li><a routerLink="grinds" routerLinkActive="active">Post a Grind</a></li>
        </ul>
        <ul *ngIf="!isAuth()" class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Sign Up<span class="glyphicon glyphicon-user"></span></a>
            <ul class="dropdown-menu">
              <li><a routerLink="register">Student</a></li>
              <li><a routerLink="register_tutor">Teacher</a></li>
            </ul>
          <li><a routerLink="login" class='login_button'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        <ul *ngIf="isAuth()"class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Hello {{getUsername()}}<span class="glyphicon glyphicon-user"></span></a>
              <ul class="dropdown-menu">
                <li><a routerLink="my-account">View/Edit Profile</a></li>
                <li><a (click)="logOut()">Logout</a></li>
              </ul>
          </ul>
      </div>
    </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
<hr>

<footer class="container fixed-bottom">
    <div class="row">
      <div class="col">
        <p class="text-center">Original design by The A team </p>
      </div>
    </div>
</footer>
