h1{
    text-align: center;
}

.login_register_menu-container .register_button{
    margin-left: 5px;
}

.profile_icon,
.profile_text {
    color: black;
}

.profile_text {
 margin-right: 10px;
}

body {
font-family: 'BioRhyme';font-size: 15px;
}

@media (max-width: 992px) {
     .opaque-navbar {
      background-color: black;
      height: 50px;
      transition: background-color .5s ease 0s;
}
}
/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 50px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 50px;
    transition: background-color .5s ease 0s;
}

.dropdown-toggle{ 
    cursor: pointer; 
}