<mat-card class="my-card">
  <h5>View Profile</h5>
  <mat-card-content>
    <form class="registration-form" [formGroup]="pofileViewForm" (ngSubmit)="onUpdateAccount()" id="ngForm"
      #documentEditForm="ngForm">
      <mat-form-field class="full-width" [hideRequiredMarker]="false" [floatLabel]="auto">
        <input matInput formControlName="firstName" placeholder="First Name">
      </mat-form-field>

      <mat-form-field class="full-width" [hideRequiredMarker]="false" [floatLabel]="auto">
        <input matInput placeholder="Last Name" formControlName="lastName">
      </mat-form-field>

      <mat-form-field class="full-width" [hideRequiredMarker]="false" [floatLabel]="auto">
        <input matInput placeholder="Email Address" formControlName="emailAddress">
      </mat-form-field>

      <mat-form-field class="full-width" [hideRequiredMarker]="false" [floatLabel]="auto">
        <input matInput placeholder="Username" formControlName="userName">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions class>
    <button id="edit" mat-raised-button (click)="activateFields()">Edit Profile</button>
    <button id="saveChanges" mat-raised-button (click)="updateUser()" disabled="true">Save Changes</button>
    <button id="deleteAccount"  mat-raised-button color="warn" [disabled]="deleteMode" (click)="deleteUserMode()">Delete Account</button>
  </mat-card-actions>
  <div id="messageContainer">
    {{message}}
    <span *ngIf="deleteMode">
          <button  id="yes" mat-raised-button (click)="deleteUser()">Yes</button>
          <button  id="no"  mat-raised-button (click)="cancelDelete()">No</button>
      </span>
  </div>
</mat-card>