<div class="jumbotron text-center">
    <h1>Company</h1> 
    <p>We specialize in blablabla</p> 
</div>
<div class="container">
        <div class="row">
                <div class="col">
                    <app-grinds-list></app-grinds-list>
                </div>
        </div>  
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container">
    <h3 class="text-center">Contact</h3>
    <p class="text-center"><em>Always room to improve</em></p>
    
    <div class="row">
        <div class="col-md-4">
        <p>Reach Out to Us.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>Ireland .Ire</p>
        <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
        <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
        </div>
        <div class="col-md-8">
        <div class="row">
            <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
            </div>
            <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
            </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <br>
        <div class="row">
            <div class="col-md-12 form-group">
            <button class="btn pull-right" type="submit">Send</button>
            </div>
        </div>
        </div>
    </div>
</div>