<div class="container-fluid bg-grey">
    <div class="jumbotron text-center">
        <h1>Grinds UI</h1>
        <p>We specialize in connecting students and teachers together. 
        This is an app to allow students to register for grinds with specific teachers in order to further thier careers.
        </p>
    </div>
</div> 
<hr>
<div class="container">
        <div class="row">
                <div class="col">
                    <app-grinds-list></app-grinds-list>
                </div>
        </div>  
</div>