<main role="main" class="container">
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="jumbotron jumbotron-fluid" style="margin-bottom:0">
                    <h2 style="text-align: center;">Grinds Tutorial</h2>
                    <p class="lead" style="text-align: center;">Grinds UI is an Human Powered tutor tool for coaching faculty to enhance teaching.</p> 
                </div>
            </div>
        </div>
    </div>
<hr>
<div class="container">
        <div class="row">
                <div class="col">
                    <app-grinds-list></app-grinds-list>
                </div>
        </div>  
</div>
<hr>
<div class="container bg-2 text-center">
        <h3>What Am I?</h3>
        <p class="lead">Pupils using the Grinds-UI make, on average, double the progress of their peers. And 80% say it’s improved their confidence in school. Which means they’re more likely to raise their hand when they know the answer – or ask for help if they don’t.</p>
</div>
</main>