/* You can add global styles to this file, and also import other style files */
.mat-sidenav-container {
    min-height: 100%;
}

/* You can add global styles to this file, and also import other style files */
header{
    padding: 1em 0;
}

h1{
    margin-top: 2em;
}

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    
}
@media (max-width: 576px) {

}

#heading{
    text-align: center;
}

.jumbotron {
  background-color:transparent !important; 
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
  }

  body {
    line-height: 1.8;
    color: #818181;
  }
  


html,
body {
    height: 100%;
}

footer {
    margin: 50px 0;
}

.container{
  padding-top: 70px;
  padding-bottom: 70px;
}