/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-sidenav-container {
    min-height: 100%;
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
header{
    padding: 1em 0;
}

h1{
    margin-top: 2em;
}

/*---Media Queries --*/
@media (max-width: 992px) {

}
@media (max-width: 768px) {
    
}
@media (max-width: 576px) {

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#heading{
    text-align: center;
}
