/* You can add global styles to this file, and also import other style files */
.mat-sidenav-container {
    min-height: 100%;
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

#heading{
    text-align: center;
}

.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
  }

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
  }

  .jumbotron {
    font-family: Montserrat, sans-serif;
    background-color:transparent !important;
  }
  
  .navbar {
    font-family: Montserrat, sans-serif;
  }

body {
    height: 100%;
    font-family: Montserrat, sans-serif;
    line-height: 1.8;
    color: #818181;
}

footer {
    margin: 50px 0;
}

.container{
  padding-top: 70px;
  padding-bottom: 70px;
}