<!-- Log In Component -->
<h2>Log In</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Click this bar to log in
        </mat-panel-title>
        <mat-panel-description>
          Enter Your email address a password
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <input matInput placeholder="Email Address: ">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password: ">
      </mat-form-field>

      <button mat-raised-button>Log In!</button>
  
      
    </mat-expansion-panel>
  </mat-accordion>
