<mat-card class="my-card">
        <h5>Register as a tutor</h5>
    <mat-card-content>
       <form class="registration-form">
        <mat-form-field class="full-width">
            <input matInput required placeholder="First Name" matTooltip="Enter your first name">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <input matInput required placeholder="Last Name" matTooltip="Enter your last name">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <input matInput required placeholder="Email Address" matTooltip="Enter email address">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <input matInput required placeholder="Username" matTooltip="Enter username">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <input matInput  required placeholder="Password"  type="password" name="password" matTooltip="Enter password">
        </mat-form-field>
    
        <mat-form-field class="full-width">
            <input matInput  required placeholder="Password"  type="password" name="password" matTooltip="Confirm password">
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput  required placeholder="Ocupation"  name="ocupation" matTooltip="Enter ocupation">
        </mat-form-field>

        <mat-form-field class="full-width">
            <textarea matInput placeholder="Teaching Experience"></textarea>
        </mat-form-field>

       </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button matTooltip="Register as a tutor">Register</button>
    </mat-card-actions>
 </mat-card>