<div class="container bg-grey">
<mat-card class="my-card">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
        <!--for red/green validation icons-->
    <h3>Register As a Student</h3>
  <mat-card-content>
     <form class="registration-form"  id="ngForm" #documentEditForm="ngForm">
      <mat-form-field class="full-width">
          <input matInput required placeholder="First Name" [formControl]="firstName" [(ngModel)]="firstName.value">
          <button mat-button *ngIf="firstName.value" matSuffix mat-icon-button aria-label="Clear" (click)="firstName.value=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="firstName.invalid">{{getErrorMessage('1')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
          <input matInput required placeholder="Last Name" [formControl]="lastName" [(ngModel)]="lastName.value">
          <button mat-button *ngIf="lastName.value" matSuffix mat-icon-button aria-label="Clear" (click)="lastName.value=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="lastName.invalid">{{getErrorMessage('2')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
          <input matInput required  placeholder="Email Address" [formControl]="emailAddress" [(ngModel)]="emailAddress.value">
          <button mat-button *ngIf="emailAddress.value" matSuffix mat-icon-button aria-label="Clear" (click)="emailAddress.value=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="emailAddress.invalid">{{getErrorMessage('3')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
          <input matInput required  placeholder="Username" [formControl]="userName" [(ngModel)]="userName.value">
          <button mat-button *ngIf="userName.value" matSuffix mat-icon-button aria-label="Clear" (click)="userName.value=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="userName.invalid">{{getErrorMessage('4')}}</mat-error>
      </mat-form-field>
  
      <mat-form-field class="full-width">
          <input matInput required placeholder="Password"  type="password" [formControl]="password" (ngModelChange)="checkPasswordStrength();" [(ngModel)]="password.value">
          <button mat-button *ngIf="password.value" matSuffix mat-icon-button aria-label="Clear" (click)="password.value=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{getErrorMessage('5')}}</mat-error>
      </mat-form-field>
      <div class="progress-bar-container">
        <div [style.width.%]="(newPasswordStrength / 4) * 100" [class]="'progress-bar-value ' + newPasswordStrengthColor"></div>
      </div>
      <div class="message">{{newPasswordStrenghtMessage}}</div>
  
      <mat-form-field class="full-width">
          <input matInput  required placeholder="Confirm Password"  type="password" [formControl]="confirmPassword" [(ngModel)]="confirmPassword.value">
          <button mat-button *ngIf="confirmPassword.value" matSuffix mat-icon-button aria-label="Clear" (click)="confirmPassword.value=''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="confirmPassword.invalid">{{getErrorMessage('6')}}</mat-error>
      </mat-form-field>

      <div class="validations">
      </div>
     </form>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button form="ngForm" (click) ="onRegisterUser()" [disabled]="!isFormValid()">Register as Student</button>
      <button mat-raised-button form="ngForm" (click) ="onClearForm()">Clear</button>
  </mat-card-actions>
  <div id="messageContainer">{{message}}</div>
</mat-card>
</div>


