<h1>Create Grind Component</h1><br>
<!-- <mat-accordion layout-align: center>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Create Grind Here
            </mat-panel-title>
            <mat-panel-description>
              Enter grind details and get teaching!
            </mat-panel-description>
          </mat-expansion-panel-header> -->
      <div class ="postGrind">
          <mat-form-field>
            <input matInput required placeholder="Price Per Hour"
            matTooltip="enter the price per hour">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput required placeholder="Address"
            matTooltip="enter your Address">
          </mat-form-field>
          <mat-form-field>
                <select matNativeControl required placeholder = "Subject"
                matTooltip="Select your subject">
                        <option value="mathematics">Mathematics</option>
                        <option value="english">English</option>
                        <option value="spanish">Spanish</option>
                        <option value="music">Music</option>
                        <option value="irish">Irish</option>
                        <option value="biology">Biology</option>
                        <option value="chemistry">Chemistry</option>
                        <option value="physics">Physics</option>
                    </select>
            </mat-form-field>

          <div>
          <button mat-raised-button
          matTooltip="Register with these details">Post Grind!</button>
        </div>
    </div>
        <!-- </mat-expansion-panel>
      </mat-accordion> -->
