button{
    background-color: green;
    color:  white;
}
h1{
    text-align: center;
}
.postGrind {
    position: relative;
    left: 30%;
    background-color: grey;
    display: inline-block;
    border: 20px;
    border-radius: 5px;

}