<div class="container bg-grey">
<mat-card class="my-card">
  <h3>Post a Grind</h3>
<form class="post-grind-form"  id="ngForm" #documentEditForm="ngForm">
  <mat-accordion #accordion="matAccordion" [multi]="true">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Where will the Grind be?
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <mat-form-field>
          <input required matInput placeholder="Building Number: " [formControl] = "buildingNo" [(ngModel)]="buildingNo.value">
          <button mat-button *ngIf="buildingNo.value" matSuffix mat-icon-button aria-label="Clear" (click)="buildingNo.value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="Street Address" [formControl] = "streetAddress" [(ngModel)]="streetAddress.value">
          <button mat-button *ngIf="streetAddress.value" matSuffix mat-icon-button aria-label="Clear" (click)="streetAddress.value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
        <mat-form-field>
          <input matInput placeholder="County" [formControl] = "county" [(ngModel)]="county.value">
          <button mat-button *ngIf="county.value" matSuffix mat-icon-button aria-label="Clear" (click)="county.value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
    
        <mat-form-field>
          <input required matInput placeholder="Eircode" [formControl] = "eircode" [(ngModel)]="eircode.value">
          <button mat-button *ngIf="eircode.value" matSuffix mat-icon-button aria-label="Clear" (click)="eircode.value=''">
              <mat-icon>close</mat-icon>
            </button>
        </mat-form-field><br>
    </mat-expansion-panel>
   
    <br>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Grind Type?
        </mat-panel-title>
      </mat-expansion-panel-header> 
  
      <mat-form-field>
          <select matNativeControl required placeholder = "Subject"
          matTooltip="Select your subject" [formControl] = "grindType"
          [(ngModel)]="grindType.value">
                  <option value="mathematics">Mathematics</option>
                  <option value="english">English</option>
                  <option value="spanish">Spanish</option>
                  <option value="music">Music</option>
                  <option value="irish">Irish</option>
                  <option value="biology">Biology</option>
                  <option value="chemistry">Chemistry</option>
                  <option value="physics">Physics</option>
              </select>
              <button mat-button *ngIf="grindType.value" matSuffix mat-icon-button aria-label="Clear" (click)="grindType.value=''">
                  <mat-icon>close</mat-icon>
                </button>
        </mat-form-field><br>
     </mat-expansion-panel> <br>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            How much do you charge per hour?
        </mat-panel-title>
      </mat-expansion-panel-header> 
  
      <mat-form-field>
          <input required matInput placeholder="Enter price in euro: " [formControl] = "pricePerHour" [(ngModel)]="pricePerHour.value">
          <button mat-button *ngIf="pricePerHour.value" matSuffix mat-icon-button aria-label="Clear" (click)="pricePerHour.value=''">
            <mat-icon>close</mat-icon>
          </button>
      </mat-form-field>       
   
    </mat-expansion-panel><br>
  <button mat-raised-button (click)="onCreateGrind(accordion)"> Post Grind </button>
  <button mat-raised-button form="ngForm" (click) ="grindClearForm()">Clear</button>


  </mat-accordion>
  
</form>
</mat-card>
<br>

<!-- ########################################################################################## -->
<!-- MY GRINDS TABLE, MAKE CALL TO SERVER TO RETURN LIST OF GRINDS ASSOCIATED W/LOGGED IN USER -->
<!-- ########################################################################################## -->

<mat-card class="my-card-2">
    <h3>My Grinds</h3>
<table mat-table [dataSource]="dataSource" class="grinds_table mat-elevation-z8">
   
      
    <!-- Grind Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Subject
      </th>
      <td mat-cell *matCellDef="let grind"> {{grind.grindType}} </td>
    </ng-container>
  
    <!-- Price Column -->
    <ng-container matColumnDef="pricePerHour">
      <th mat-header-cell *matHeaderCellDef> Price Per Hour 
      </th>
      <td mat-cell *matCellDef="let grind"> {{grind.pricePerHour}} </td>
    </ng-container>

    <ng-container matColumnDef="grindAddress">
        <th mat-header-cell *matHeaderCellDef>Street </th>
            <td mat-cell *matCellDef="let grind"> {{grind.street}} </td>
      </ng-container>
  
    <!-- Address Column -->
    
    <ng-container matColumnDef="moreDetails">
      <th mat-header-cell *matHeaderCellDef> </th>
      <!-- <td mat-cell *matCellDef="let grind"> {{grind.grindAddress}} </td> -->
          <td mat-cell *matCellDef="let grind; let i = index;">  <!-- Use this to get the index of the row to pass into function -->
            <button *ngIf="isAuth()" mat-button routerLink="/grinds-detail">
                Show More Details -->
              </button>
          </td>

    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
   
  </table>
  <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary" mode="indeterminate" diameter=40>
    </mat-progress-spinner>
  </mat-card>
</mat-card>
</div>
