<main role="main" class="container">
<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron jumbotron-fluid" style="margin-bottom:0">
          <div class="container">
            <h2 style="text-align: center;">Tutors that fit your schedule</h2>      
            <p class="lead" style="text-align: center;">Find your perfect tutor and arrange a Free Video Meeting. Then book one-to-one Lessons to fit your schedule.</p>
          </div>
        </div>
    </div>
  </div>
</div>
<hr>
<div class="container">
    <div class="row">
      <div class="col">
<div class ="postGrind">
      <mat-form-field>         
        <input matInput required placeholder="Price Per Hour"
        matTooltip="enter the price per hour">
      </mat-form-field>
      <mat-form-field>
        <input matInput required placeholder="Address"
        matTooltip="enter your Address">
      </mat-form-field>
      <mat-form-field>
            <select matNativeControl required placeholder = "Subject"
            matTooltip="Select your subject">
                    <option value="mathematics">Mathematics</option>
                    <option value="english">English</option>
                    <option value="spanish">Spanish</option>
                    <option value="music">Music</option>
                    <option value="irish">Irish</option>
                    <option value="biology">Biology</option>
                    <option value="chemistry">Chemistry</option>
                    <option value="physics">Physics</option>
                </select>
        </mat-form-field>
      <div>
      <button mat-raised-button
      matTooltip="Register with these details"
      onclick="alert('Grind posted to website.')">
      Post Grind!
    </button>
    </div>
</div>
</div>
</div>
</div>
<hr>
<div class="container">
<div class="row">
    <div class="col-sm-4">
        <div class="container">
            <h2>Tutor</h2>
            <div class="card" style="width:400px">
              <img class="card-img-top" src="https://source.unsplash.com/9UVmlIb0wJU/500x350" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary stretched-link">See Profile</a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="container">
            <h2>Tutor</h2>
            <div class="card" style="width:400px">
              <img class="card-img-top" src="https://source.unsplash.com/9UVmlIb0wJU/500x350" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary stretched-link">See Profile</a>
              </div>
            </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="container">
            <h2>Tutor</h2>
            <div class="card" style="width:400px">
              <img class="card-img-top" src="https://source.unsplash.com/9UVmlIb0wJU/500x350" alt="Card image" style="width:100%">
              <div class="card-body">
                <h4 class="card-title">John Doe</h4>
                <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
                <a href="#" class="btn btn-primary stretched-link">See Profile</a>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
</main>
